.container{
    display: flex;
    margin: 20vh auto;
    width: 80vw;
    height: 60vh;
    background-color: aqua;
    justify-content: center;
    align-items: stretch;
    position: relative;
    box-sizing: border-box;

}
.container .part1, .container .part2{
    flex: 1 1 50%;
    background-color: red;
    border: 4px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.box{
    width: 600px;
    height: 600px;
    background-color: rgb(255, 0, 255);
    position: absolute;
    top: -100px;
    transition: all 1s;
}
.chapga {
    left: 0;
}
.onga{
    left: 41vw;
}
.onga .bir {
    display: none;
}
.chapga .ikki {
    display: none;
}